body {
    padding-bottom: 20px;
    background: #333;
    color: #666;
}

.container-main {
    background: #f4f4f4;
    overflow: auto;
    border-radius: 10px;
}
.logo
{
    padding: 15px 0;
}
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
    border: 0;
    background: #f4f4f4;
}

/* Carousel Styles */

#my-carousel {
    margin-bottom: 20px;
}
#my-carousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0,0,0, 0.6);
    text-shadow: none;
}
#my-carousel .carousel-caption h4 {
    color: #fff;
}
#my-carousel .carousel-caption p {
    padding: 0;
    margin: 0;
}
#my-carousel .list-group {
    position: absolute;
    top: 0;
    right: 0;
}
#my-carousel .list-group-item {
    border-radius: 0;
    cursor: pointer;
}
#my-carousel .list-group .active {
    background: #eee;
    border: 0;
    color: #666;
}
#my-carousel .list-group h4 {
    font-size: 17px;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 5px;
}
#my-carousel .img-slide {
    width: 80px;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.post-info {
    background: #333;
    color: #fff;
    padding: 5px;
    border: #ccc 1px solid;
}

@media(min-width: 992px) {
    #my-carousel {
        padding-right: 33.3333%;
    }
    #my-carousel .carousel-controls {
        display: none;
    }    
}

@media(max-width: 991px) {
    .carousel-caption p, #my-carousel .list-group {
	display:none;
    }
}

@media(max-width: 1200px) {
    .slider-list p {
	display:none;
    }
}

